<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  		<h2>Rainforest</h2>
  		<ul>
  			<li><%= link_to "Home", products_path%></li>
  			<li><%= link_to "New", new_product_path %></li>
  			<li>About</li>
  			<li>Contact</li>

  		</ul>
  	</nav>
    <%= yield %>
  </body>
</html>
